<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas Completa" parallel="classes" thread-count="2">
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Pruebas de Regresión">
        <classes>
            <!-- Clases que ya tenías -->
            <class name="principal.AgriTest"/>
            <class name="principal.RunCucumberTestNG"/>

            <!-- AÑADIMOS LA NUEVA CLASE AQUÍ -->
            <class name="principal.NavegacionTest"/> 
        </classes>
    </test> 
</suite>